@{
    ViewBag.Title = "AddNewGym";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Gym</title>
    <style>
        input {
            width: 190px;
            font-size: 16px;
            height: 28px;
            padding: 2px;
            margin: 3px;
            border: solid;
            border-color: indigo;
            border-radius: 4px;
            border-width: 2px;
            margin-left: 72px;
        }

        form {
            padding: 2px;
        }

        button {
            width: 160px;
            height: 45px;
            color: white;
            background-color: forestgreen;
            border-radius: 6px;
            margin: 2px;
        }
    </style>
</head>
<body>
    <div>
        <form action="/Gym/SaveAddedGym" method="GET">
            Name : <input type="text" id="IDname" name="name" /> <br />
            Adress : <input type="text" id="IDadress" name="adress" /> <br />
            Open Hour : <input type="text" id="IDopenHour" name="openHour" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" title="Enter a valid time (hh:mm)" /> <br />
            Close Hour : <input type="text" id="IDcloseHour" name="closeHour" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" title="Enter a valid time (hh:mm)" /> <br />
            Rating: <input type="text" id="IDrating" name="rating" pattern="^[0-5](\,[0-9])?$" title="Enter a value between 0 and 5 with one decimal" /><br />
            Password : <input type="text" id="IDpassword" name="password" /> <br />


            <div>
                <button type="submit">Add Gym</button>
                <button type="reset" onclick="window.location.href='Gyms'">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>
