@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>*This application was made for gym enthusiasts .</p>
    <p>*Those people that want an easy-to-use app to make reservations for gym classes and can create gym subscritpions .</p>
    <p>*For now the app works just for Romanian gyms but in the future we will extent to worldwide gyms.</p>
</main>